
@model AddListViewModel



@if (Model.suggestMovies != null)
    @foreach (var item in Model.suggestMovies)
    {
        <li class="ac_even" id="@item.Id" onclick="AddMovie(@item.Id)">
            @item.MovieTitleYear
            <span class="directors">@item.MovieDirector</span>
        </li>

    }



<script>

    function revealPosts2() {
        var posts = $('.ajax-individual-item-wrapper:not(.reveal)');
        var i = 0;
        setInterval(function () {
            if (i >= posts.length) return false;

            var el = posts[i];
            $(el).addClass('reveal');

            i++;
        }, 120);
    }




        function AddMovie(id) {
            var data = "movieIdToAdd=" + id;
            console.log(data);

            $.ajax({
                type: 'GET',
                url: '/Account/AddMovieToCList',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                data: data,
                success: function (data, result) {
                    setTimeout(function () {
                        if (data != '') {
                            $(".list-ajax-container2 > .tbody2").empty().append(data);
                        }
                        revealPosts2();
                    }, 800);
                    //alert('Successfully received Data ');
                    console.log(result);
                },
                error: function () {
                    //alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            })
        }


</script>

