<div id="" class="text-center mt-2">
    <button id="load-more-movies-button" class="load-more-movies-button" type="button" name="name" value="Load more">
        <i class="fas fa-arrow-down loading-icon"></i>
        <div class="ld ld-pie ld-spin-fast"></div>
    </button>
</div>



@*Loading animation*@
<div id="loading-animation">
    <div class="loader-ellips">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
    </div>
</div>

@*Message when reaching end*@
<div id="reached-end" class="mt-5 mb-2 text-center text-white fs-3">
    You reached the end!
</div>

