@model AddListViewModel

@{
    ViewData["Title"] = "Start a new list";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@*notify user when trying to add a list without adding any movie!*@
@if (Model != null)
{
    @if (Model.Message != null)
    {
        <div class="alert alert-info d-inline-block mx-2" role="alert">@Model.Message</div>
    }
}

@*notify user when trying to add a movie again!*@
<div class="clist-add-notify ms-2" id="clist-add-notify" role="alert">
    <div class="clist-add-notify-message alert alert-warning" id="jnotify-message">

    </div>
</div>


<div class="container-lg px-lg-3 mt-4 px-3">
    <div class="row">
        <div class="border-bottom-list-header fs-4">New List</div>
    </div>
</div>

<div class="container-lg add-clist-main-content">
    <div class="">

        <form asp-action="AddList" enctype="multipart/form-data" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <div class="col-sm-8 my-3">
                    <label asp-for="Title" class="mb-1 control-label title-label">Name of list</label>
                    <input asp-for="Title" class="title-input" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class=" my-3">
                    <label asp-for="Description" class="mb-1 control-label title-label"></label>
                    <textarea asp-for="Description" class="clist-add-description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group clist-edit-buttons my-2">
                    <input type="submit" value="Save" class="clist-save-button" />
                    <a asp-controller="Account" asp-action="CLists" class="clist-cancel-button">Cancel</a>
                </div>

                @*Begin Add movies section*@
                <section class="clist-add-movies-wrapper">
                    <div class="position-relative my-2">
                        <div class="clist-movie-load-animation" id="live-search-input-wrapper">
                            <label onclick="addMovie()" class="add-a-film">Add a film</label>

                            <input value="" placeholder="Enter name of film..." class="form-control add-list-search-input" id="search-input" autocomplete="off" />
                        </div>
                        @*BEGIN Search results as suggestions*@
                        <div class="ac_results add-clist-suggestion position-absolute clist-suggest-container" id="clist-live-search-suggest" style="display: none;">
                            <ul style="max-height: 180px; overflow: auto;" class="suggest-body">
                            </ul>
                        </div>
                        @*END Search results as suggestions*@

                    </div>
                </section>
            </div>


            <div class="col-md-6">
                @*Added movies*@
                <div class="director-info-page to-add-movies-wrapper">
                    <div class="director-movies-container container to-add-movies-container px-0" id="to-add-movies-container">
                        <div class="row movies-to-add-bodey mx-0">
                            <article id="empty-list-placeholder" class="empty-list-placeholder">
                                <p>
                                    <strong class="title-2">Your list is empty.</strong>
                                    Add films using the live search.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                @*End Added movies*@
            </div>

        </form>



    </div>
</div>


@*Search input*@

<script src="~/js/add-custom-list.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}