@model AddListViewModel

@{
    ViewData["Title"] = "Start as new List";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    //int pageCount = ViewBag.pageCount;
}

@if (Model != null)
{
    @if (Model.Message != null)
    {
        <div class="alert alert-info d-inline-block mx-2" role="alert">@Model.Message</div>
    }
}


<div class="container px-lg-3 mt-4 px-3">
    <div class="row">
        <div class="border-bottom fs-4">New List</div>
    </div>
</div>

<div class="container add-clist-main-content">
    <div class="">

        <form asp-action="AddList" enctype="multipart/form-data" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <div class="col-sm-8 my-3">
                    <label asp-for="Title" class="mb-1 control-label title-label">Name of list</label>
                    <input asp-for="Title" class="title-input" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class=" my-3">
                    <label asp-for="Description" class="mb-1 control-label title-label"></label>
                    <textarea asp-for="Description" class="clist-add-description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group clist-edit-buttons my-2">
                    <input type="submit" value="Save" class="clist-save-button" />
                    <input type="submit" value="Cancel" class="clist-cancel-button" />
                </div>

                @*Begin Add movies section*@
                <section class="clist-add-movies-wrapper">
                    <div class="position-relative my-2">
                        <div class="clist-movie-load-animation" id="live-search-input-wrapper">
                            <label onclick="addMovie()" class="add-a-film">Add a film</label>

                            <input value="Gh" class="form-control add-list-search-input" id="movie-id" autocomplete="off" />
                        </div>
                        @*BEGIN Search results as suggestions*@
                        <div class="ac_results add-clist-suggestion position-absolute clist-suggest-container" id="clist-live-search-suggest" style="display: none;">
                            <ul style="max-height: 180px; overflow: auto;" class="suggest-body">
                                <li class="ac_even">Spider-Man: Into the Spider-Verse (2018) <span class="directors">Rodney Rothman, Peter Ramsey, et al.</span></li>
                            </ul>
                            @*<div class="autocomplete-not-found">
                                    Film not here? <a href="/about/film-data/" target="_blank">Find out how to add it.</a>
                                </div>*@
                        </div>
                        @*END Search results as suggestions*@

                    </div>




                </section>
            </div>


            <div class="col-md-6">
                @*Added movies*@
                <div class="director-info-page to-add-movies-wrapper">
                    <div class="director-movies-container container to-add-movies-container" id="to-add-movies-container">
                        <div class="row movies-to-add-bodey">
                            <article id="empty-list-placeholder" class="empty-list-placeholder">
                                <p>
                                    <strong class="title-2">Your list is empty.</strong>
                                    Add films using the live search.
                                </p>
                            </article>
                        </div>
                    </div>
                    @* <span asp-validation-for="MovieToAdd" class="text-danger"></span>*@
                </div>
                @*End Added movies*@
            </div>

        </form>


    </div>
</div>


@*Search input*@


@*start ajax function for infinite scroll*@
<script type="text/javascript">


    //hide the suggestions list when user click outside the input
    $(document).mouseup(function (e) {
        var container = $("#live-search-input-wrapper");

        // if the target of the click isn't the the input, hide the suggestions
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            $("#clist-live-search-suggest").hide();
        }
    });

    function revealPosts() {
        var posts = $('.ajax-individual-item-wrapper:not(.reveal)');
        var i = 0;
        setInterval(function () {
            if (i >= posts.length) return false;

            var el = posts[i];
            $(el).addClass('reveal');

            i++;
        }, 120);
    }


    //When user press a key in the live search input, do a search for movies that contain the input search term
    $(document).ready(function () {
        $("#movie-id").keyup(function () {
            $('#live-search-input-wrapper').addClass('loading');

            var data = "movieId=" + $("#movie-id").val();
            console.log(data);

        $.ajax({
            type: 'GET',
            url: '/Account/Search',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (data, result) {

                //display the live search results
                $("#clist-live-search-suggest").show();
                if (data != '') {
                    $("#clist-live-search-suggest > .suggest-body").empty().append(data);
                }
                revealPosts();

                //hide the loading animation
                setTimeout(function () {
                    $('#live-search-input-wrapper').removeClass('loading');
                }, 500);
                
                console.log(result);
            },
            error: function () {
                console.log('Failed ');
            }
        })
    });
    });

</script>


<script>
    // Remove added movies from the new list.
    $(document).on("click", "#clist-delete-added-movie", function (e) {
        e.preventdefault;
        $(this).parent().hide('slow', function () { $(this).remove(); });

        //if this is the only movie in the list, when it is removed, display the placeholder.
        if ($("#movie-to-add").length == 0) {
            $("#empty-list-placeholder").slideDown(320);
        }
    });
</script>



<script>
    //Focus on the live search input, when user clicks on the button
    function addMovie() {
        document.getElementById("movie-id").focus();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}