@model AddListViewModel

@{
    ViewData["Title"] = "Start as new List";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    //int pageCount = ViewBag.pageCount;
}

<div class="container px-lg-3 mt-4 px-3">
    <div class="row">
        <div class="border-bottom fs-4">New List</div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row col-md-4">

        <form asp-action="AddList" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group my-3">
                <label asp-for="Title" class="mb-1 control-label"></label>
                <input asp-for="Title" class="form-control input-small" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Description" class="mb-1 control-label"></label>
                <input asp-for="Description" class="form-control input-small" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            @*Movies*@
            <div class="form-group my-3">
                <label asp-for="MovieId" class="mb-1 control-label"></label>
                <input asp-for="MovieId" class="form-control input-small" />

                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="MovieId" class="mb-1 control-label"></label>
                <input asp-for="MovieId" class="form-control input-small" />

                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="MovieId" class="mb-1 control-label"></label>
                <input asp-for="MovieId" class="form-control input-small" />

                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <form asp-action="Search" enctype="multipart/form-data">
            <input asp-for="SearchTerm" class="form-control input-small" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="my-5 text-center">
    <a class="back-button" asp-action="Index">Back to List</a>
</div>

<div id="log-button" onclick="search2()" class="col-6 log-icon-wrapper w-50">
    <input asp-for="@Model.resultMovies[0].Id" type="" value="50" class="form-control input-small" id="movie-id" />
    <button id="log-icon" class="log-icon-add">Search</button>
    <div id="log-caption" class="log-add text-center">Watch</div>
</div>


<script type="text/javascript">
    function search2() {

        var data = $("#movie-id").serialize();


        console.log(data);

        //alert(data);
        $.ajax({

            type: 'POST',
            url: '/Account/Search',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
                //alert('Successfully received Data ');
                console.log(result);
            },
            error: function () {
                //alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
    }

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}