@model CListsViewModel

@{
    ViewData["Title"] = @Model.User.FirstName + "'s fims";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    int pageCount = ViewBag.pageCount;
}

<div class="container px-lg-3 mt-4 px-3">
    <div class="row">
        @*add avatar, etc later*@
        <div class="">Lists by @Model.User.FirstName</div>
        @*<h2>@Model.Title</h2>
        <div>@Model.Description</div>*@

    <div class="text-center">
            <a asp-controller="Account" asp-action="AddList" role="button" class="btn btn-success">
                Start a new list...
            </a>
    </div>
    </div>
</div>



@*Movie grids container*@
<div class="custom-lists-page mt-2">
    <div class="director-movies-container container list-ajax-container">
        <div class="row px-1 tbody">
            <partial name="~/Views/Shared/Lists/_CListPartial.cshtml" />
        </div>
    </div>
</div>


<partial name="~/Views/Shared/_AjaxLoadAnimationPartial.cshtml" />

<script>
    var pageCount = @pageCount;
    var controllerActionUrl = "/Account/CLists";
</script>

<script src="~/js/ajax-infinite-scroll.js" asp-append-version="true"></script>