@model MovieListViewModel

@{
    ViewData["Title"] = @Model.CurrentUser.FirstName + "'s fims";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    int pageCount = ViewBag.pageCount;
}

<div class="container px-lg-3 mt-4 px-3">
    <div class="row">
        <div class="border-bottom">YOU HAVE WATCHED @Model.listCount FILMS</div>
    </div>
</div>

@*Movie grids container*@
<div class="director-info-page mt-2">
    <div class="director-movies-container container list-ajax-container">
        <div class="row px-1 tbody">
            <partial name="~/Views/Shared/Lists/_AjaxMovieListPartial.cshtml" />
        </div>
    </div>
</div>


<partial name="~/Views/Shared/_AjaxLoadAnimationPartial.cshtml" />

<script>
    var pageCount = @pageCount;
    var controllerActionUrl = "/Account/Films";
</script>

<script src="~/js/ajax-infinite-scroll.js" asp-append-version="true"></script>