$input-height: 32px;
$input-width: 285px;


.add-list-search-input {
    height: $input-height;
    font-family: Graphik-Regular-Web, sans-serif;
    background-color: #2c3440;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #456;
    box-sizing: border-box;
    color: #89a;
    font-size: 1.07692308rem;
    line-height: 1;
    margin: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    float: left;
    width: $input-width;
    padding: 8px 9px 7px;
}

.clist-add-movies-wrapper {
    line-height: 1;
    color: #9ab;
    font-size: 1rem;
    font-family: Graphik-Regular-Web,sans-serif;
    display: block;
    overflow: visible !important;
    padding-top: 5px;
    clear: both;
    float: none;
    width: auto;

    .add-clist-suggestion {
        line-height: 1;
        color: #9ab;
        font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        outline: 0;
        vertical-align: baseline;
        background-color: #678;
        border: 1px solid #c8d8e8;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: 2px solid #fff;
        box-shadow: 0 4px 5px rgba(0,0,0,.75);
        margin: -2px 0 0;
        overflow: hidden;
        padding: 0;
        z-index: 99999;
        position: absolute;
        width: $input-width;
        top: $input-height;
        left: 0px;

        ul {
            line-height: 1;
            color: #9ab;
            border: 0;
            font-family: inherit;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
            outline: 0;
            vertical-align: baseline;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            max-height: 180px;
            overflow: auto;

            li {
                list-style: none;
                border: 0;
                font-family: inherit;
                font-style: inherit;
                font-weight: inherit;
                outline: 0;
                vertical-align: baseline;
                color: #fff;
                cursor: default;
                display: block;
                font-size: 13px;
                line-height: 1.5;
                margin: 0;
                overflow: hidden;
                padding: 5px 8px 5px 10px;
                text-shadow: 0 -1px 0 rgba(0,0,0,.2);

                &:hover {
                    background-color: #00b020;
                }
            }
        }
    }

    .to-add-movies-wrapper {
        margin-top: 14rem !important;

        .list-ajax-container2 {
            line-height: 1;
            font-family: inherit;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
            outline: 0;
            vertical-align: baseline;
            list-style: none;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #345;
            border-radius: 4px;
            color: #89a;
            margin: 0;
            padding: 0;
            bottom: auto;
            left: auto;
            position: relative;

            article.movie-to-add {


                .movie-poster {
                    list-style: none;
                    color: #89a;
                    line-height: 1.38461538;
                    border: 0;
                    font-family: inherit;
                    font-size: 100%;
                    font-style: inherit;
                    font-weight: inherit;
                    margin: 0;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                    border-radius: 4px;
                    display: inline-block;
                    overflow: hidden;
                    position: relative;
                    background: #161718;
                    box-shadow: 0 1px 3px rgba(0,0,0,.35);
                    float: left;
                    margin-right: 10px;



                    img {
                        list-style: none;
                        color: #89a;
                        line-height: 1.38461538;
                        width: 35px;
                        //aspect-ratio: auto 35 / 52;
                        height: 52px;
                        border: 0;
                        font-family: inherit;
                        font-size: 100%;
                        font-style: inherit;
                        font-weight: inherit;
                        margin: 0;
                        outline: 0;
                        padding: 0;
                        vertical-align: baseline;
                        border-radius: 4px;
                        display: block;
                    }
                }

                .list-item-details {
                    h3 {
                    }
                }
            }
        }
    }
}








