//set a different syle for max-width: 720
//ex. width: 150px
.movie-rate-chart {
    display: table;
    table-layout: fixed;
    width: 230px;
    //max-width: 700px;
    height: 100px;
    //margin: 0 auto;
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
    background-size: 100% 50px;
    background-position: left top;
    margin-top: 30px;

    li {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        //min-height: 10px !important;
    }

    .tooltip-subject {
        width: 28px !important;
        margin: 0 .1em;
        display: block;
        background: rgba(#d1ecfa, .75);
        background-color: #445566;
        animation: draw 1s ease-in-out !important;
        cursor: pointer;
        height: 100px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        //border-bottom: 5px solid;
        &:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            //padding: 5px 1em 0;
            display: block;
            text-align: center;
            content: attr(title);
            //word-wrap: break-word;
        }

        &:hover {
            //line-height: 1;
            //border: 0;
            background-color: #667788;
            //margin: 0;
            //outline: 0;
            //color: #40bcf4;
        }
    }
}

@keyframes draw {
    0% {
        height: 0;
    }
}

.movie-rate-count{
    border-bottom: 1px solid #456;
}

@media (max-width: 280px){
    .movie-rate-chart {
        margin-left: auto;
        margin-left: auto;
        width: 200px;

        .tooltip-subject {
            width: 22px !important;
        }
    }
}

