

.main-navigation-wrapper {
    
        header {
            @media (max-width: 900px) {
                padding-right: 0;
                padding-left: 0;
            }
            nav{
                min-height: 66px;

                .navbar-brand {
                max-width: 80%;

                @media (max-width: 400px) {
                    max-width: 65%;
                    margin-right: 5px;
                }

                img {
                    max-width: 100% !important;
                }
            }
            //End navbar-brand
            }

        }
        //End header
}


.nav-profile-picture-wrapper {
    position: relative;



    .nav-profile-picture {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 30px;

        @media (max-width: 767px) {
        }
        //larger screens
        @media (min-width: 768px) {
            position: absolute;
            right: 100%;
            top: 4%;
        }
    }

    .nav-default-profile-picture {
        top: 12%;
        font-size: 36px;

        @media (max-width: 767px) {
        }
        //larger screens
        @media (min-width: 768px) {
            position: absolute;
            left: -36px;
        }
    }
}

//when user has profile picture
.navbar-user-name {
    vertical-align: top !important;

    @media (max-width: 767px) {
        vertical-align: middle !important;
        margin-left: 8px;
    }
}

//when user has no profile picture
.navbar-user-name-default {
    vertical-align: top !important;

    @media (max-width: 767px) {
        vertical-align: super !important;
        //margin-left: 8px;
    }
}
