@import '_mixin.scss';

.getting-started-btn {
    //float: right;
    border: none;
    border-radius: 3px;
    font-family: Graphik-Semibold-Web,sans-serif;
    letter-spacing: .075em;
    line-height: 12px;
    padding: 18px 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    background: #00b020;
    color: #f4fcf0;
    cursor: pointer;
    font-size: 1.6rem;

    @media (max-width: 320px) {
        font-size: 1.3rem;
    }

    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: max-content;

    &:hover {
        background: #00a11d;
        color: #fff;
    }
}

section.homepage-quick-tour-wrapper {
    line-height: 1;
    color: #9ab;
    border: 0;
    //font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    display: block;
    padding: 2.30769231rem 0 1.53846154rem;

    .homepage-quick-tour {
        line-height: 1;
        color: #9ab;
        border: 0;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        outline: 0;
        vertical-align: baseline;
        margin: 0 auto;
        box-sizing: border-box;
        //max-width: 100%;
        padding: 0 20px;

        @media (max-width: 360px) {
            padding: 0 8px;
        }
        //width: 1236px;
        //min-width: 950px;
        .homepage-quick-tour-header, .homepage-quick-tour-header-special {
            border: 0;
            font-style: inherit;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            font-weight: 400;
            margin: 0 0 1.1rem;
            text-align: center;
            color: #abc;
            font-size: 2rem;
            line-height: 1.23076923;
        }

        .homepage-quick-tour-header {
            margin: 0 0 1rem;
        }

        .homepage-quick-tour-header-special {
            margin: 0 0 3rem;
        }

        ul.homepage-quick-tour-sections-wrapper {
            line-height: 1;
            color: #9ab;
            border: 0;
            font-style: inherit;
            font-weight: inherit;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            list-style: none;
            font-size: 0;
            position: relative;
            text-align: justify;

            li.homepage-quick-tour-sections {
                color: #9ab;
                list-style: none;
                border: 0;
                font-style: inherit;
                font-weight: inherit;
                //margin: 0;
                outline: 0;
                //padding: 0;
                font-size: 1.15384615rem;
                display: inline-block;
                line-height: 0;
                position: relative;
                //text-align: left;
                vertical-align: top;
                //width: 22.81553398%;
                .sections-header {
                    list-style: none;
                    //text-align: left;
                    border: 0;
                    font-style: inherit;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                    //font-family: Graphik-Semibold-Web,sans-serif;
                    font-weight: 400;
                    margin: 0 0 10px;
                    font-size: 1.38461538rem;
                    color: #def;
                    line-height: 1.33;
                }

                p {
                    a.hompage-tour-links {
                        list-style: none;
                        text-align: left;
                        line-height: 1.33;
                        border: 0;
                        font-size: 100%;
                        font-style: inherit;
                        font-weight: inherit;
                        margin: 0;
                        outline: 0;
                        padding: 0;
                        vertical-align: baseline;
                        text-decoration: none;
                        color: #def;
                        transition: all .3s ease;

                        i {
                            transition: all .3s ease;
                        }

                        .watchlist-ordinary-icon {
                            @include svg-icon ( 'watchlist-ordinary.svg', 30px 30px, 30px, 30px );
                        }

                        .star-ordinary-icon {
                            @include svg-icon ( 'star-ordinary.svg', 30px 30px, 30px, 30px );
                        }

                        .custom-list-ordinary-icon {
                            @include svg-icon ( 'custom-list-ordinary.svg', 30px 30px, 30px, 30px );
                        }

                        &:hover {
                            color: #40bcf4;
                            transition: all .3s ease;

                            i {
                                color: #40bcf4 !important;
                                transition: all .3s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.homepage-section {
    //background: green;

    .hompage-section-head {
        display: flex !important;
        line-height: normal;
        padding-bottom: 10px;

        a.hompage-section-head-link {
            &:hover {
                color: #40bcf4;
            }
        }

        span {
            margin-left: auto !important;
        }
    }
}

section.homepage-welcome-messgae-wrapper {
    //font-family: Graphik-Light-Web, sans-serif;
    color: #abc;
    font-size: 1.72rem;

    .homepage-welcome-messgae {
        > a {
            color: #fff;

            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
    }
}


/*Start Movie lists in homepage*/
section.homepage-movie {
    .director-list-item {
        .movie-poster-wrapper {
            position: relative;
            //Important - choose the aspect ratio here
            padding-bottom: 150%;

            a {
                img.movie-poster {
                    border: 4px solid transparent;
                    border-radius: 5%;
                    transition: all .3s ease;
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                    position: absolute;
                    height: 100%;
                }
            }

            .movie-tooltip {
                @include tooltip-object(100%, "", 103%, 5px 3px);

                &::before {
                    content: '';
                    position: absolute;
                    height: 13px;
                    width: 13px;
                    background-color: #445566;
                    bottom: -6px;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    z-index: -1;
                }
            }

            &:hover .movie-tooltip {
                /*opacity: 1;
                    z-index: 2;*/
                visibility: visible;
                opacity: 1;
                transition: .3s all ease-in;
            }
        }
        //#movie-poster-wrapper
        .direector-page-movie-options {
            @media (max-width: 767px) {
                font-size: 0.875em;
                line-height: 1.3 !important;
            }
        }
    }
    //#director-list-item
}

/*Start differernt border colors for movies sections*/
section.homepage-movie.homepage-popular-movies-wrapper {
    img.movie-poster {
        &:hover {
            border: 4px solid #00E054 !important;
            transition: all .3s ease;
        }
    }
}

section.homepage-movie.homepage-watch-movies-wrapper {
    img.movie-poster {
        &:hover {
            border: 4px solid #40bcf4 !important;
            transition: all .3s ease;
        }
    }
}
/*End differernt border colors for movies sections*/

/*End Movie lists in homepage*/
section.homepage-popular-reviews-wrapper {
    #container-masonary {
        .box-masonary {
            float: left;

            .a-review {
                //Header - movie poster + title + user + ...
                .popular-review-header {
                    margin-bottom: 20px;
                    //Movie poster
                    //
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;

                    .reviewed-movie-poster-wrapper {
                        padding-right: 0;

                        @media (min-width: 768px) {
                            width: 120px;
                            max-width: 25%;
                        }

                        .movie-poster {
                            align-self: flex-start;
                            flex-shrink: 0;
                            //width: 120px;
                            position: relative;
                            padding-bottom: 150%;
                            //
                            img {
                                border-radius: 5%;
                                transition: all .3s ease;
                                object-fit: cover;
                                object-position: top;
                                width: 100%;
                                position: absolute;
                                height: 100%;
                                border: 3px solid transparent;

                                &:hover {
                                    border: 3px solid #00E054;
                                    transition: all .3s ease;
                                }
                                //
                            }
                        }
                    }
                    //End Movie poster
                    //Start right column - title + user + ...
                    .header-right-col {
                        //margin-left: 10px;
                        .review-movie-info {
                            cursor: pointer;

                            &:hover {
                                .movie-title {
                                    transition: .2s all ease-in;
                                    color: #40bcf4;
                                }
                            }

                            .movie-title {
                                font-family: TiemposTextWeb-Semibold,Georgia,serif;
                                //font-size: 1.69230769rem;
                                font-weight: 700;
                                margin: 0 0 10px;
                                color: #fff;
                                line-height: 1.2;
                                transition: .2s all ease-in;
                            }

                            .movie-year {
                                //font-size: 18px;
                                color: #89a;
                            }
                        }

                        .reviewer-info {
                            .profile-picture-small-wrapper {
                                .profile-picture-small {
                                    padding-top: 5 !important;

                                    img {
                                    }

                                    .navbar-user-name {
                                        margin-right: 6px;
                                    }
                                }
                            }
                        }

                        .reviewer-rate-wrapper {
                            span {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            //End a-review
        }
        //End box-masonary
    }
    //End #container-masonary
}
//End section.homepage-popular-reviews-wrapper

.box-masonary.large {
    //background: #084;
    //z-index: 999999999;
}
