@mixin svg-icon ( $svg-url, $bg-size, $height, $width ){
    display: inline-block;
    text-transform: capitalize;
    background-image: url('/Image/Icon/' + $svg-url);
    background-repeat: no-repeat;
    background-size: $bg-size;
    height: $height;
    margin: 0 auto 3px;
    width: $width;
    vertical-align: middle;
}

@mixin star-rating-icon ( $svg-file ) {
    background-image: url('/Image/Icon/' + $svg-file);
    min-width: 33px;
    min-height: 33px;

    @media (max-width: 280px) {
        min-width: 30px;
        min-height: 30px;
    }

    display: inline-block;
    cursor: pointer;
}




.movie-stats-ultimate-wrapper{
    width: 230px !important;
}
//rating
.user-movie-interaction-wrapper {
    background-color: #456;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    > .row {
        width: 230px !important;
        min-height: 80px !important;
        border-bottom: 1px solid #2c3440;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 10px;


        .log-icon-wrapper {
            //width: 50px;
            //height: 33px;
            cursor: pointer;

            .log-icon-add {
                @include svg-icon ( 'log.svg', 50px 40px, 40px, 50px );
            }

            &:hover {
                color: white;
            }

            .log-icon-remove {
                @include svg-icon ( 'logged.svg', 50px 40px, 40px, 50px );
            }
        }


        .watchlist-icon-wrapper {
            width: 50px;
            height: 33px;
            cursor: pointer;

            .watchlist-icon-add {
                @include svg-icon ( 'watchlist-add.svg', 78.5px 68px, 40px, 50px );
            }

            &:hover {
                color: white;
            }

            .watchlist-icon-remove {
                @include svg-icon ( 'watchlist-remove.svg', 78.5px 68px, 40px, 50px );
            }
        }
    }





    .rate-rated {
    }

    .rate-icon-wrapper {
        font-size: 0;
        //Delete rate icon
        .delete-rate-icon-wrapper {
            width: 33px;
            height: 33px;
            position: relative;
            display: block;
            float: left;
            cursor: default;

            .delete-rate-icon {
                background-image: url('/Image/Icon/delete-rate.svg');
                width: 13px;
                height: 13px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 65%;
                overflow: hidden;
                opacity: 0;
                transition: all .2s ease-in;
                cursor: pointer;
                padding: 5px;

                &:hover {
                    transform: translate(-50%, -50%) scale(1.2, 1.2);
                    transition: all .2s ease-in;
                    opacity: 1 !important;
                }
            }
        }

        &:hover .delete-rate-icon-wrapper .delete-rate-icon {
            transition: all .2s ease-in;
            left: 50%;
            opacity: .75;
        }
        //END Delete rate icon
    }
}


.starFade {
    @include star-rating-icon ( 'StarFade.svg' );
}

.starGlow {
    @include star-rating-icon ( 'starglow.svg' );
}

.starBlue {
    @include star-rating-icon ( 'StarBlue.svg' );
}

//rating

.movie-average-rate-wrapper {
    width: 80px !important;
    .star-glow-small-wrapper {
        font-size: 0;
        white-space: nowrap;

        .star-glow-small {
            background-image: url('/Image/Icon/starglow.svg');
            min-width: 12px;
            min-height: 12px;
            display: inline-block;
        }
    }
}



//list stats

.movie-logs-stats {
    background-image: url('/Image/Icon/logged.svg');
    //padding: 10px;
    display: inline-block;
    //min-width: 50px;
    text-transform: capitalize;
    content: "";
    /*            }*/
    background-repeat: no-repeat;
    background-size: 25px 25px;
    content: "";
    //display: block;
    height: 25px;
    margin: 0 auto 3px;
    width: 25px;
    vertical-align: middle;
}

.movie-watchlist-stats {
    @include svg-icon ( 'list-stat.svg', 20px 20px, 20px, 20px );
}


//For guest visitors
.movie-stats-limited {
    //: 50px;
}


@media (max-width: 280px) {
    .movie-stats-form {
        padding-right: 0px;
        padding-left: 0px;

        .movie-stats-ultimate-wrapper {
            width: 200px !important;

            .user-movie-interaction-wrapper > .row, .user-movie-interaction-wrapper > .movie-stats-limited {
                width: 200px !important;
            }
        }
    }
}