.review-section-heading {
    line-height: 1;
    border: 0;
    font-style: inherit;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin: 18px 0 12px;
    border-bottom: 1px solid #456;
    color: #9ab;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    margin-bottom: .76923077rem;
    margin-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}
