
.profile-settings-container{
    @media (max-width: 400px){
        padding-left: 0;
        padding-right: 0;
    }
    .profile-picture-wrapper{
        img {
            max-width: 100%;
        }
    }
}

.profile-navigation-container {
    @media (max-width: 400px) {
        padding-left: 0;
        padding-right: 0;
    }

    nav {
        @media (max-width: 400px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


.settings-navbar{
    li{
        max-width: 240px;
    }
    align-content: center;
}