@{
    ViewBag.Title = "Home Page";
}

<div class="index-page text-center">


    <h2>
        In honour of Yasujirō Ozu (1903 – 1963).
    </h2>

    <h2>
        これ を わが愛する映画監督・小津安二郎（1903〜1963）に捧げる。
    </h2>


</div>