@model MovieRateDirector

@{
    ViewData["Title"] = Model.Movie.Title + " (" + Model.Movie.Year + ")";
}

@if (User.Identity.IsAuthenticated)
{
    <partial name="_MovieDetails" />
}
else
{
    <partial name="_MovieDetailsLimited" />
}



    @*Movie information*@
    <section class="container mb-5 px-sm-2">

        <div class="row">
            <div class="col-md-3 text-center">

            </div>

            @*reviews wrapper*@
            <div class=" col-md-9 py-3 px-0 review-section-wrapper">
                <h2 class="review-section-heading">
                    Your review
                </h2>

                <div class="review-ajax-container">
                    <div class="review-body" id="post-review" style="display: none;">

                    </div>
                </div>

                <form id="submitForm" enctype="multipart/form-data" class="my-2">
                    <input asp-for="@Model.UserReview.MovieId" type="" value="@Model.Movie.Id" class="form-control input-small" id="" />
                    <div class="review-input-wrapper">
                        <textarea asp-for="@Model.UserReview.ReviewText" type="" value="" placeholder="Add a review..." class="review-input" id="review-text"></textarea>
                    </div>

                    <input type="button" value="Review" class="clist-save-button" id="submit-review" />

                </form>

                <h2 class="review-section-heading">
                    Popular reviews
                </h2>

                <div class="review-ajax-container">
                    <div class="review-body">

                
                
                        <partial name="~/Views/Shared/Review/_Review.cshtml" />
                            @*@await Component.InvokeAsync("UserAvatar", new { userId = @item.User.Id })*@

                
                    </div>
                </div>
            </div>
            
        </div>

    </section>


    <script type="text/javascript">
        //Post review
    $(document).on("click", "#submit-review", function (e) {

        //Update rate count
        //var originalRate = oldRate;
        //var originalCount = oldAllCount;

        //Rate count decreases by 1
        //If they had not rated movie before, rate count increased by 1
        @*if (r == 1 && originalRate == 0) {
            document.getElementById("rate-count").textContent = ++originalCount;
        } else if (r == 0 && originalRate > 0) {
            document.getElementById("rate-count").textContent = --originalCount;
        } else {
            document.getElementById("rate-count").textContent = originalCount;
        }*@

        //var originalAverage = Model.AverageRate;
        //if (r == 0) {

        //}
        //Update the average instantly
        var newRate = $("#review-text").val(); //The rating they just chose



        var data = $("#submitForm").serialize();
        console.log(data);

        //alert(data);
        $.ajax({

            type: 'POST',
            url: '/Movie/Review',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (data, result) {
                //alert('Successfully received Data ');
                console.log(result);
                if (data != '') {
                    $("#submitForm").hide();
                    $(".review-ajax-container > #post-review").append(data);
                    $("#post-review").show('slow');
                }
            },
            error: function () {
                //alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
    });

    </script>
