@model MovieListViewModel
@{
    ViewData["Title"] = "List of all movies";
    int pageCount = ViewBag.pageCount;
}

<div class="container px-lg-3 mt-4 px-3 text-center">
    <div class="row">
        <div class="border-bottom-list-header mb-3">EXPLROR AMONG @Model.listCount FILMS. LOG, RATE AND REVIEW YOUR FAVOURITE MOVIES.</div>
    </div>
</div>

@*Movie grids container*@
<div class="director-info-page mt-2">
    <div class="director-movies-container container list-ajax-container">
        <div class="row px-1 tbody">
            <partial name="~/Views/Shared/Lists/_AjaxMovieListPartial.cshtml" />
        </div>
    </div>
</div>


<partial name="~/Views/Shared/_AjaxLoadAnimationPartial.cshtml" />

<script>
    var pageCount = @pageCount;
    var controllerActionUrl = "/Movie/Index";
</script>

<script src="~/js/ajax-infinite-scroll.js" asp-append-version="true"></script>