@model MovieListViewModel

@{
    ViewData["Title"] = "List of all movies";
}

<div class="container px-lg-3 mt-4 px-3 text-center">
    <div class="row">
        <div class="border-bottom mb-3">EXPLROR AMONG @Model.listCount FILMS. LOG, RATE AND REVIEW YOUR FAVOURITE MOVIES.</div>
    </div>
</div>

<partial name="~/Views/Shared/_MovieListPartial.cshtml" />
