@import "sass/_chart.scss";
@import "sass/_director-info.scss";
@import "sass/_director-list.scss";
@import 'sass/_header.scss';
@import 'sass/_mixin.scss';
@import "sass/_navbar.scss";
@import 'sass/_rating.scss';

html, body {
    height: 100%;
}
.main-navigation-bg {
    background-color: #14181c;
}

.primary-color {
    color: #99AABB;
}

.main-content {
    min-height: calc(100% - 122px);
    padding-bottom: 100px;
    //min-height: 90vh !important;
    color: #99AABB;
    //background-color: #1E252C;
    background: #14181c url('/Image/General/content-bg.0d9a0f0f.png') 0 -1px repeat-x;
    //padding: 30px 0;
}

footer {
    color: #6c757d;
    background-color: #2C3440;
}

a {
    color: #99AABB;
    text-decoration: none;
    transition: .3s all ease;

    &:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: .3s all ease;
    }
}

/*General*/
.input-small {
    max-width: 200px;
}


/*Director selcet list*/
.directors-select{
    min-width: 200px;
    height: 40px;
    font-size: 18px;
}



/*Back button in the pages*/
.back-button {
    font-weight: 400 !important;
    padding: 10px 30px;
    font-size: smaller;
    border: 1px solid #fd120d;
    color: #fd120d;
    background-color: #fff;
    outline: none;
}

.back-button:hover {
    border: 1px solid #fd120d;
    background-color: #fd120d !important;
    color: #fff !important;
    outline: none;
    transition: all .3s ease;
    transition-property: background-color, color;
}

/*end button*/





#blah {
    width: 220px;
    height: 330px;
    object-fit: cover;
}

.director-info-aside {
    margin: 10px;
}


.director-movies-container {
    //padding-right: 300px;
}