@import "sass/_chart.scss";
@import "sass/_director-info.scss";
@import "sass/_director-list.scss";
@import 'sass/_footer.scss';
@import 'sass/_header.scss';
@import 'sass/_mixin.scss';
@import 'sass/_rating.scss';
@import "sass/_settings.scss";
@import "sass/_movie.scss";
@import "sass/_infinite-scroll";
@import "sass/_custom-lists";
@import "sass/_username-small";
@import "sass/_add-custom-list";
@import "sass/_review";
@import "sass/confirm-message";

/**/

section.homepage-popular-reviews-wrapper {
    #container-masonary {
        .box-masonary {
            //width: 50%;
            //height: 290px;
            //margin: 5px;
            //background: #084;
            float: left;
            //z-index: 999999999;
            //temp
            //background-color: #000000;
            background: #14181c;

            .a-review {
                //Header - movie poster + title + user + ...
                .popular-review-header {
                    margin-bottom: 20px;
                    //Movie poster
                    //
                    .reviewed-movie-poster-wrapper {
                        width: 120px;

                        .movie-poster {
                            align-self: flex-start;
                            flex-shrink: 0;
                            //width: 120px;
                            position: relative;
                            padding-bottom: 150%;
                            //
                            img {
                                border-radius: 5%;
                                transition: all .3s ease;
                                object-fit: cover;
                                object-position: top;
                                width: 100%;
                                position: absolute;
                                height: 100%;
                                border: 3px solid transparent;

                                &:hover {
                                    border: 3px solid #00E054;
                                    transition: all .3s ease;
                                }
                                //
                            }
                        }
                    }
                    //End Movie poster
                    //Start right column - title + user + ...
                    .header-right-col {
                        margin-left: 10px;

                        .review-movie-info {
                            cursor: pointer;

                            &:hover {
                                .movie-title {
                                    color: #40bcf4;
                                }
                            }

                            .movie-title {
                                font-family: TiemposTextWeb-Semibold,Georgia,serif;
                                font-size: 1.69230769rem;
                                font-weight: 700;
                                margin: 0 0 10px;
                                color: #fff;
                                line-height: 1.2;
                            }

                            .movie-year {
                                font-size: 18px;
                                color: #89a;
                            }
                        }

                        .reviewer-info {
                            .profile-picture-small-wrapper {
                                .profile-picture-small {
                                    padding-top: 5 !important;

                                    img {
                                    }

                                    .navbar-user-name {
                                        margin-right: 6px;
                                    }
                                }
                            }
                        }

                        .reviewer-rate-wrapper {
                            span {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            //End a-review
        }
        //End box-masonary
    }
    //End #container-masonary
}//End section.homepage-popular-reviews-wrapper


.box-masonary {
    
}

.box-masonary:hover {
    //background: #999;
    //cursor: pointer;
}

.box-masonary.large {
    //background: #084;
    z-index: 999999999;
}
/**/

html, body {
    height: 100%;
}
.main-navigation-bg {
    background-color: #14181c;
}


.primary-color {
    color: #99AABB;
}

.main-content {
    //nav-width = 66, footer-width = 56
    min-height: calc(100% - 122px);
            //Probably should be changed, if the footer content is changed
            @media (max-width: 300px) {
                min-height: calc(100% - 146px);
            }
    padding-bottom: 100px;
    //min-height: 90vh !important;
    color: #99AABB;
    //background-color: #1E252C;
    background: #14181c url('/Image/General/content-bg.0d9a0f0f.png') 0 -1px repeat-x;
    //padding: 30px 0;
}



a {
    color: #99AABB;
    text-decoration: none;
    transition: .3s all ease;

    &:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: .3s all ease;
    }
}

/*General*/
.input-small {
    max-width: 200px;
}

.input-medium {
    max-width: 360px;
}

/*Director selcet list*/
.directors-select{
    min-width: 200px;
    height: 40px;
    font-size: 18px;
}



/*Back button in the pages*/
.back-button {
    font-weight: 400 !important;
    padding: 10px 30px;
    font-size: smaller;
    border: 1px solid #fd120d;
    color: #fd120d;
    background-color: #fff;
    outline: none;
}

.back-button:hover {
    border: 1px solid #fd120d;
    background-color: #fd120d !important;
    color: #fff !important;
    outline: none;
    transition: all .3s ease;
    transition-property: background-color, color;
}

/*end button*/





#blah {
    width: 220px;
    height: 330px;
    object-fit: cover;
}

.director-info-aside {
    margin: 10px;
}


.director-movies-container {
    //padding-right: 300px;
}