@model MovieRateDirector

<div class="col-12">
    <div class="user-avatar"> 

    </div>
    <div class="review-head-wrapper">
        <p class="review-head">
            <span class="review-head">
                <span>Review by</span>
                @await Component.InvokeAsync("UserAvatar", new { userId = Model.UserReview.User.Id })
            </span>
        </p>
    </div>

    <div class="review-text-wrapper">
        <div class="review-text">
            <p>
                @Model.UserReview.ReviewText
            </p>
        </div>
    </div>

</div>



