@model MovieRateDirector
@*Display user's review when it's just posted*@


<div class="col-12 border-bottom-0 user-review">
    @if (Model.UserReview.User.ProfilePicture != null)
    {
        <div class="profile-picture-medium-wrapper">
            <div class="profile-picture-medium">
                <img class="nav-profile-picture" src="data:image/*;base64,@(Convert.ToBase64String(Model.UserReview.User.ProfilePicture))">
            </div>
        </div>
    }
    <div class="d-inline-block review-main-col">
        <div class="review-head-wrapper">
            <div class="review-head">
                <div class="review-head-text">
                    Review by
                    <span class="review-name">@Model.UserReview.User.FirstName</span>
                    @*@await Component.InvokeAsync("UserAvatar", new { userId = item.User.Id })*@
                </div>
            </div>
        </div>

        <div class="review-text-wrapper">
            <div class="review-text">
                <div style="white-space: pre-wrap;">@Model.UserReview.ReviewText</div>
            </div>
        </div>
    </div>


</div>



