@model MovieRateDirector
@*Only for logged in users!*@
@*Display user's review on the top of reviews*@
@*when it's just posted and later when page loads by the user*@

@*This information will be sent to the controller to update the review*@


<form id="editForm" enctype="multipart/form-data" class="my-2">
    <input asp-for="@Model.UserReview.Id" type="hidden" value="@Model.UserReview.Id" class="form-control input-small" id="" />
    <div class="review-input-wrapper" id="review-edit">
        <textarea asp-for="@Model.UserReview.ReviewText" style="height: 180px;" type="" value="" placeholder="Add a review..." class="review-input" id="review-text-edit"></textarea>
    </div>
</form>

<script>
    //increase the height of the review input when clicked
    $(document).on("click", "#review-text-edit", function (e) {
        $(this).css("height", "400px")
    });
</script>