@model MovieRateDirector

@*Used to render empty text area -- when user has just deleted his existing review*@


<form id="submitForm" enctype="multipart/form-data" class="my-2">
    <input asp-for="@Model.UserReview.MovieId" type="hidden" value="@Model.Movie.Id" class="form-control input-small" id="" />
    <div class="review-input-wrapper">
        <textarea asp-for="@Model.UserReview.ReviewText" type="" value="" placeholder="Add a review..." class="review-input" id="review-text"></textarea>
    </div>
    <div class="review-edit-buttons">
        <input type="button" value="Review" class="review-save-button" id="submit-review" />

    </div>

</form>