@model MovieRateDirector
@*Start Review section - when user is not logged in*@
<section class="container mb-5 px-sm-2">

    <div class="row">
        @*reviews wrapper*@
        <div class="offset-md-3 col-md-9 py-3 review-section-wrapper">


            @if (Model.Review.Count() > 0)
            {
                <h2 class="review-section-heading">
                    Popular reviews
                </h2>

                <div class="review-ajax-container">
                    <div class="review-body">
                        <partial name="~/Views/Shared/Review/_Review.cshtml" />
                        @*@await Component.InvokeAsync("UserAvatar", new { userId = @item.User.Id })*@
                    </div>
                </div>
            }
            else
            {
                <h2 class="review-section-heading" id="no-review-yet">
                    No reviews yet!
                </h2>
            }
        </div>
    </div>
</section>
@*End Review section*@