@model MovieRateDirector
    @*Start Review section - when user is logged in*@
    <section class="container mb-5 px-sm-2">

        <div class="row">

            @*reviews wrapper*@
            <div class="col-12 py-3 review-section-wrapper">
                <h2 class="review-section-heading" id="user-review-section">
                    Your review
                </h2>


                @if (Model.UserReview != null)
                {
                    <div class="review-ajax-container">
                        <div class="review-body" id="post-review" style="">
                            <partial name="~/Views/Shared/Review/_AjaxReview.cshtml" />
                        </div>
                    </div>
                }

                @if (Model.UserReview == null)
                {
                    <div class="review-ajax-container 50">
                        <div class="review-body" id="post-review" style="display: none;">

                        </div>
                    </div>
                    <partial name="~/Views/Shared/Review/_EmptyReview.cshtml" />
                }

                @if (Model.Review.Count() > 0)
                {
                    <h2 class="review-section-heading">
                        <span>Reviews of </span><strong style="color: white;">@Model.Movie.Title</strong>
                    </h2>

                    <div class="review-ajax-container">
                        <div class="review-body">
                            <partial name="~/Views/Shared/Review/_Review.cshtml" />
                            @*@await Component.InvokeAsync("UserAvatar", new { userId = @item.User.Id })*@
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="review-section-heading text-center" id="no-review-yet">
                        No reviews yet!
                    </h2>
                }
            </div>
        </div>
    </section>
    @*End Review section*@

<script src="~/lib/jquery/jquery.confirm.js"></script>
    <script src="~/js/review.js"></script>